# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=fcda19e65a32c19e9999ab498fd1d011
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

DD_mysqlConfig_hostname=changeme
DD_mysqlConfig_database=changeme
DD_mysqlConfig_username=changeme
DD_mysqlConfig_password=changeme

DD_openstackConfig_auth=changeme
DD_openstackConfig_username=changeme
DD_openstackConfig_password=changeme
DD_openstackConfig_tenantId=changeme
DD_openstackConfig_location=changeme
DD_openstackConfig_container=changeme
